<html>
    <head>
    </head>
    <body>
    <center><h4>Witaj!</h4><h3>Twoje zamówienie na GrupaMAGNUM.eu zostało <font color="red">anulowane</font><br> więcej szczegółów w panelu.</h3><br><br>link: <a href="https://grupamagnum.eu/zamowienia">https://grupamagnum.eu/zamowienia</a><br><br></center>Pozdrawiamy<br>GrupaMAGNUM.eu
    </body>
</html>