services:
#    marcin_admin.example:
#        class: Marcin\AdminBundle\Example
#        arguments: ["@service_id", "plain_value", %parameter%]
    marcin_admin.twig.extension.admin:
        class: Marcin\AdminBundle\Twig\Extension\AdminExtension
        arguments: ["@doctrine"]
        tags:
            - { name: twig.extension }
    
    marcin_admin.twig.extension.adminlive:
        class: Marcin\AdminBundle\Twig\Extension\AdminliveExtension
        arguments: ["@doctrine"]
        tags:
            - { name: twig.extension }
    
            
    user_mailer:
        class: Marcin\AdminBundle\Mailer\UserMailer
        arguments: [@mailer, "produkcja@grupamagnum.eu", "GrupaMAGNUM"]

    user_manager:
        class: Marcin\AdminBundle\Manager\UserManager
        arguments: [@doctrine, @router, @templating, @security.encoder_factory, @user_mailer]