 <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="{% if app.request.get('_route') == 'marcin_admin_dashboard' %}active{% endif %}"><a href="{{ path('marcin_admin_dashboard') }}"><i class="fa fa-link"></i> <span>Panel</span><span class="label label-primary pull-right">{{ navigation.zamowienia.count.all }}</span></a></li>
          </ul>