/**
 * Marcin Kukliński
 */
    
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

html,body{min-height:100%}
body{
    background-color: #27c5a6;
    margin: 0;
}

input[type="text"],
input[type="password"]{
    border-radius: 0;
}

#test {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(255,255,255,1);
    box-shadow: 1px 1px 5px 0px rgba(255,255,255,1);
}

#logowanie {
    margin-top: 50px;
}
@media screen and (max-width: 480px) {
    #logowanie {
        margin-top: 10px;
    }
    
}
@media screen and (min-width: 1700px) {
    #test {
        max-width: 420px;
    }
    
}
.tekst {
    height: 70px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 25px;
    margin-bottom: 10px;
}

.tekst p {
    color: #719fdb;
}

.logowanie {
    padding: 20px;
}

.logowanie:hover {
    background-color: #f0f0f0;
    border-left: 5px solid #3498db;
}

.haslo {
    padding: 20px;
    position: relative;
}

.haslo:hover {
    background-color: #f0f0f0;
    border-left: 5px solid #3498db;
}

.osadzanieikony {
    position: relative;
}

.ustawienie {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px !important;
    text-align: center;
    pointer-events: none;
    color: #5598db;
}

.zapamietanie {
    margin-left: 10px;
    color: #95a5a6;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wyslanie {
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* https://d85wutc1n854v.cloudfront.net/live/products/600x375/WB0G8810G.png?v=1.0 */